<div class="col-xs-12 no-margin">
	<div class="numbered">
		<p><span class="blue"><em>Resume</em></span>.application.routes.draw <span class="pink">do</span></p>
	</div>
	<div class="numbered">
		<p>&nbsp;</p>
	</div>
	<div class="numbered tabbed-once">
		<p>root <span class="yellow">'Sao Paulo State University'</span></p>
	</div>
	<div class="numbered tabbed-once">
		<p>resources: <span class="purple">:1996 to 2001 | B.A. in Social Communication with a specialization in Journalism</span></p>
	</div>
	<div class="numbered">
		<p>&nbsp;</p>
	</div>
	<div class="numbered">
		<p><span class="pink">end</span></p>
	</div>
</div>
