<div class="no-margin">

	<div class="numbered">
		<p>
			<span class="pink">class</span>
			<span class="class-name">Languages</span>
			<span class="green"><em>&lt; Education</em></span>
		</p>
	</div>
	
	<div class="numbered tabbed-once">
	  <p>
	  	<span class="pink">def </span>
	  	<span class="green">languages</span>
	  </p>         
	</div>

	<div class="numbered tabbed-twice">
	  <p>
	  	<span>english</span>
	  	<span class="purple">:proficient</span>
	  </p>         
	</div>
	<div class="numbered tabbed-twice">
	  <p>
	  	<span>spanish</span>
	  	<span class="purple">:intermediary</span>
	  </p>         
	</div>
	<div class="numbered tabbed-twice">
	  <p>
	  	<span>portuguese</span>
	  	<span class="purple">:native</span>
	  </p>         
	</div>

	<div class="numbered tabbed-once">
	  <p><span class="pink">end</span></p>
	</div>
	<div class="numbered">
		<p><span class="pink">end</span></p>          
	</div>  
</div>