<div class="container">
  <div class="row">
    <div class="col-xs-2" id="sidebar">
      <sidebar></sidebar>
    </div>      
    <div id="main" class="col-xs-10 col-xs-offset-2" style="counter-reset: fromLines 0">
    	<ui-view>
        <div class="col-xs-12 no-margin">
          <h1 class="pink" id="my-name">Aina Pinto</h1>
          <h2 id="my-title">web developer</h2>
          <div class="m30">
            <p class="source-code">Source code for this resume <a href="https://github.com/pwdd/rails_resume" target="_blank">here</a></p>
            <ul class="list-inline home-list">
              <li><a href="https://github.com/pwdd" target="_blank">Github |</a></li>
              <li><a href="https://www.linkedin.com/in/ainapinto" target="_blank">LinkedIn |</a></li>
              <li class="white">ainapinto[at]gmail[dot]com</li>
            </ul>
          </div>
          <p class="comment comment-home">=begin</p>
          <p class="comment comment-home">
            This resume is inspired by the look of Sublime Text and it is an app developed using Ruby on Rails and AngularJS.
          </p>
          <p class="comment comment-home">
            On your left, you see links to my projects, education and experience. Although
            it looks like code, it is not. The idea was to write everything in a way that reminds Ruby on Rails code.
          </p>
          <p class="comment comment-home">
            If you need to see my resume in a more traditional way, please take a look at 'Simpler Resume' on the left menu.
          </p>
          <p class="comment comment-home">=end</p>
        </div>
      </ui-view>        
    </div>
  </div>
  <footer>
    <ul class="list-inline pull-right">
      <li><a class="white" href="https://github.com/pwdd" target="_blank">Github |</a></li>
      <li><a class="white" href="https://www.linkedin.com/in/ainapinto" target="_blank">LinkedIn |</a></li>
      <li class="white">ainapinto[at]gmail[dot]com</li>
      <% if user_signed_in? %>
        <%= link_to "Logout", user_session_destroy_path, method: :delete %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>      
    </ul>
  </footer>
</div>
