<div>
  <h1 id="sidebar-title">Aina Pinto</h1>
  <ul class="ul-sidebar">
    <li class="has-child">
      <a class="collapsed" role="button" data-toggle="collapse" data-target="#first" href="" aria-expanded="false" aria-controls="first">
          Projects
      </a>
      <ul class="collapse" id="first">
        <li class="no-child" ng-click="cl=1" ng-class='{"active-class": cl==1}'>
          <a  href="#/home/categories/1">Ruby</a>
        </li>
        <li class="no-child" ng-click="cl=2" ng-class='{"active-class": cl==2}'>
          <a  href="#/home/categories/4">Python</a>
        </li>
        <li class="no-child" ng-click="cl=3" ng-class='{"active-class": cl==3}'>
          <a  href="#/home/categories/5">JavaScript</a>
        </li>
        <li class="no-child" ng-click="cl=4" ng-class='{"active-class": cl==4}'>
          <a  href="#/home/categories/6">PHP</a>
        </li>
      </ul>
    </li>
    <li class="has-child">
      <a class="collapsed" role="button" data-toggle="collapse" data-target="#second" href="" aria-expanded="false" aria-controls="second">
          Work Experience
      </a>
      <ul class="collapse" id="second">
        <li class="no-child" ng-click="cl=5" ng-class='{"active-class": cl==5}'>
          <a  href="#/home/categories/1">Freelancing</a>
        </li>
        <li class="no-child" ng-click="cl=6" ng-class='{"active-class": cl==6}'>
          <a  href="#/home/categories/1">Volunteering</a>
        </li>
      </ul>
    </li>
    <li class="has-child">
      <a class="collapsed" role="button" data-toggle="collapse" data-target="#third" href="" aria-expanded="false" aria-controls="third">
          Education
      </a>
      <ul class="collapse" id="third">
        <li class="no-child" ng-click="cl=7" ng-class='{"active-class": cl==7}'>
          <a  href="#/home/courses">Continued Education</a>
        </li>
        <li class="no-child" ng-click="cl=8" ng-class='{"active-class": cl==8}'>
          <a  href="#/home/education">Education</a>
        </li>
        <li class="no-child" ng-click="cl=9" ng-class='{"active-class": cl==9}'>
          <a  href="#/home/languages">Spoken Languages</a>
        </li>
      </ul>
    </li>
    <li class="no-child single" ng-click="cl=10" ng-class='{"active-class": cl==10}'>
      <a  href="#/home/simple_resume">Simpler Resume</a>
    </li>
    <li class="no-child single" ng-click="cl=11" ng-class='{"active-class": cl==11}'>
      <a  href="#/home">HOME</a>
    </li>
  </ul>
</div>