<h1 class="text-center m30">all posts</h1>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<ul class="list-unstyled index">
			<% @posts.each do |post| %>
				<li>
					<span class="glyphicon glyphicon-menu-right white"></span>
					ID: <%= post.id %> | <%= link_to post.title, post_path(post) %>
				</li>
			<% end %>
		</ul>
		<%= link_to "new post", new_post_path, class: "btn btn-default mt30" %>		
	</div>
</div>