$background: #272822;
$pink: #f92672;
$blue: #66d9ef;
$green: #a6e22e;
$orange: #fd971f;
$yellow: #ffe792;
$purple: #C299C2;
$sidebar: #e6e6e6;
$dark-gray: #5c5c5c;
$medium-gray: #9d9d9d;
$numbers: #a1a1a1;
$comment: #999999;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
