// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.scss";

.numbered {
	a {
		display: inline-block;
	}
}

.numbered:before {
  float: left;
  content: counter(fromLines);
  counter-increment: fromLines;
  color: $numbers;
  text-align: right;
  width: 20px;
}

.numbered.tabbed-once:before {
	margin-right: 40px;
}

.numbered.tabbed-twice:before {
	margin-right: 80px;
}

.class-name {
	text-transform: capitalize;
}

.show-post {
	margin-top: 10rem;
	div {
		p {
			margin-left: 0;
		}
	}
}

#posts {
	li {
		color: #ffffff;
		line-height: 3;
		font-size: 1.8rem;
		a {
			color: inherit;
			font-size: 1.8rem;
		}
	}
}

.comment {
	color: $comment;
}