.class-name {
	text-transform: capitalize;
}

.show-post {
	margin-top: 10rem;
	div {
		p {
			margin-left: 0;
		}
	}
}

.index {
	li {
		color: #ffffff;
		line-height: 3;
		font-size: 1.8rem;
		a {
			color: inherit;
			font-size: 1.8rem;
		}
	}
}

.comment {
	color: $comment;
}