<div class="col-xs-12 no-margin">

	<div class="numbered">
		<p>
			<span class="pink">class</span>
			<span class="class-name">{{name}}</span>
			<span class="green"><em>&lt; {{inheritance}}</em></span>
		</p>
	</div>

	<div class="numbered tabbed-once" ng-show="attr">
		<p>
			<span class="pink">{{attr }}</span>
			<span class="purple">{{attr_name}}</span>
		</p>
	</div>

	<div class="numbered" ng-show="attr">
	  <p>&nbsp;</p>         
	</div>
	
	<div ng-repeat="post in posts | orderBy:'id'">
		<div class="numbered tabbed-once">
		  <p>
		  	<span class="pink">def </span>
		  	<span class="green">{{post.title}}</span> 
		  	<span>( 
		  	  <span <span ng-show="post.source_code" >
		  	    <span class="orange">source_code</span>
		  	  </span>
		  	  <span ng-show="post.source_code && post.link">,</span>
		  	  <span class="orange" ng-show="post.link">url</span> )
		  	</span>
		  </p>         
		</div>

		<div class="numbered tabbed-twice">
			<p class="comment"># {{post.body}}</p>
		</div>

		<div class="numbered tabbed-twice" ng-show="post.source_code">
		  <p>@link_to_source = 
		  	<a ng-href="{{post.source_code}}" target="_blank">source_code</a>
		  </p>         
		</div>
		<div class="numbered tabbed-twice" ng-show="post.link">
		  <p>@link_to = 
		  	<a ng-href="{{post.link}}" target="_blank">url</a>
		  </p>         
		</div>

		<div class="numbered tabbed-once">
		  <p><span class="pink">end</span></p>
		</div>

		<div class="numbered tabbed-once">
		  <p>&nbsp;</p>         
		</div>
	</div>

	<div class="numbered">
		<p><span class="pink">end</span></p>          
	</div>  
</div>