<div class="col-xs-12 no-margin">

	<div class="numbered">
		<p>
			<span class="pink">class</span>
			<span class="class-name">{{name}}</span>
			<span class="green"><em>&lt; {{inheritance}}</em></span>
		</p>
	</div>

	<div class="numbered tabbed-once">
		<p>
			<span class="pink">{{attr }}</span>
			<span class="purple">{{attr_name}}</span>
		</p>
	</div>

	<div class="numbered">
	  <p>&nbsp;</p>         
	</div>
	
	<div ng-repeat="post in posts | orderBy:'id'">
		<div class="numbered tabbed-once">
		  <p>
		  	<span class="pink">def </span>
		  	<span class="green">{{post.title}}</span> <span ng-show="{{post.source_code}}">( <span class="orange">source_code</span> )</span>
		  </p>         
		</div>

		<div class="numbered tabbed-twice">
			<p class="comment"># {{post.body}}</p>
		</div>

		<div class="numbered tabbed-twice" ng-show="{{post.source_code}}">
		  <p>@source = 
		  	<a ng-href="{{post.source_code}}" target="_blank">source_code</a>
		  </p>         
		</div>

		<div ng-show="{{post.link}}" class="numbered tabbed-once">
		  <p>&nbsp;</p>         
		</div>

		<div ng-show="{{post.link}}" class="numbered tabbed-twice">
		  <a ng-href="{{post.link}}" target="_blank">
				<img src="<%= asset_path('/assets/{{post.image_url}}') %>" alt="{{post.image_alt}}">
		  </a>
		</div>

		<div class="numbered tabbed-once">
		  <p><span class="pink">end</span></p>
		</div>

		<div class="numbered tabbed-once">
		  <p>&nbsp;</p>         
		</div>
	</div>

	<div class="numbered">
		<p><span class="pink">end</span></p>          
	</div>  
</div>