<div class="col-xs-10 no-margin">
	<div ng-repeat="post in posts">
		<p><span class="pink">gem </span><span class="yellow">{{post.title}}</span></p>
		<p class="comment"># {{post.body}}</p>		
	</div>
</div>